{%extends "layout.html"%}

{%block body%}
<div class="header"></div>
    <div style="text-align: center;">
        <h1>{{header}}</h1>
    </div>

    <div class="container text-center">
        
        <div class="row">
            {%for event in events%}        
                <div class="col">
                        <div class="card">
                            <a href="{{url_for('event_details', id=event)}}" style="color:inherit; text-decoration:none;">
                            <img src="{{ url_for('static', filename=events[event].thumbnail) }}" class="card-img-top">
                            
                                <div class="card-body">
                                    {{events[event].title}}<br>
                                    {%if events[event].topic%}
                                        #{{events[event].topic}}
                                    {%endif%}
                                </div>
                            </a>
                        </div>
                </div>
            {%endfor%}
        </div>
    </div>

    <!-- Modals -->
    <!-- {% for subs in events.subsections %}
        {%for row in events.subsections[subs]%}
            {%for member in row%}
                <div class="modal fade" id="{{member.id}}" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content col-md-offset-2 col-md-8">
                            <div class="modal-header">
                                <span class="fa fa-user">{{member.title}}</span>
                                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                {{member.description}}
                            </div>
                            <div class="modal-footer">
                                Events | {{member.id}}
                                <button type="button" class="btn btn-info btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#myModal">Register</button>
                            </div>
                        </div>

                    </div>

                </div>
            {%endfor%}
        {%endfor%}
    {%endfor%} -->


    
    </div>
</div>
<div class="header"></div>

{%endblock body%}
