{%extends "layout.html"%}

{%block head%}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_login.css') }}">
{%endblock head%}

{%block body%}
<div class="header"></div>
<div class="container">
    <div class="form">
        <div class="form-heading">
            Log In
        </div>
        <br/><br/>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="formGroup">
                {% if form.email.errors %}
                    <div>
                        <i class="fa fa-envelope" style="color: red;"></i>
                        {{ form.email(class='for_nam',style='border-color:red;') }}
                    </div>
                    <span style="font-size: small; color: red;">
                        {% for error in form.email.errors %}
                            {%if error%}
                                {{ error }} 
                            {%endif%}
                        {% endfor %}
                    </span>
                {% else %}
                    <div>
                        <i class="fa fa-envelope" style="color: #1c7ed6;"></i>
                        {{ form.email(class='for_nam',placeholder='Email-ID') }}
                    </div>
                {% endif %}
            </div>
            <br/><br/>


            <div class="formGroup">
                {% if form.password.errors %}
                    <div>
                        <i class="fa fa-lock" style="color: red;"></i>
                        {{ form.password(class='for_nam',style='border-color:red;') }}
                    </div>
                    <span style="font-size: small; color: red;">
                        {% for error in form.password.errors %}
                            {%if error%}
                                {{ error }} 
                            {%endif%}
                        {% endfor %}
                    </span>
                {% else %}
                    <div>
                        <i class="fa fa-lock" style="color: #1c7ed6;"></i>
                        {{ form.password(class='for_nam',placeholder='Password') }}
                    </div>
                {% endif %}
            </div>
            <br/><br/>

            <div class="formGroup">
                {{ form.submit(class='btn') }}</button>
            </div>
            <br/><br/>
            
        </form>
        <small class="text-muted" style="margin-left: 8%;color:white;">
            Forgot Password? <a style="text-decoration: none;" class="ml-2" href="{{ url_for('forgot_password') }}">Reset</a>
        </small>
        <small class="text-muted" style="margin-left: 8%;color:white;">
            Create new Account? <a style="text-decoration: none;" class="ml-2" href="{{ url_for('signup') }}">Sign Up</a>
        </small>
    </div>
</div>
<div class="header"></div>
{%endblock body%}