{%extends "layout.html"%}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
<script src="{{ url_for('static', filename='font-awesome.js') }}" crossorigin='anonymous'></script>
{%endblock head%}


{%block body%}
<div class="header"></div>
<div class="container">
    <div class="form">
        <div class="form-heading">
            Password Reset Request
        </div>
        <br/><br/>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
        
            <div class="formGroup">
                {% if form.email.errors %}
                    <div>
                        <i class="fa fa-envelope" style="color: red;"></i>
                        {{ form.email(class='for_nam',style='border-color:red;') }}
                    </div>
                    <span style="font-size: small; color: red;">
                        {% for error in form.email.errors %}
                            {%if error%}
                                {{ error }} 
                            {%endif%}
                        {% endfor %}
                    </span>
                {% else %}
                    <div>
                        <i class="fa fa-envelope" style="color: #1c7ed6;"></i>
                        {{ form.email(class='for_nam',placeholder='Email-ID') }}
                    </div>
                {% endif %}
            </div>
            <br/><br/>
            
            <div class="formGroup">
                {{ form.submit(class='btn') }}</button>
            </div>
            <br/><br/>

        </form>
    </div>
</div>
<div class="header"></div>
{%endblock body%}