{%extends "layout.html"%}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
<script src="{{ url_for('static', filename='font-awesome.js') }}" crossorigin='anonymous'></script>
{%endblock head%}

{%block body%}
<div class="container">
    <div class="form">
        <div class="form-heading">
            Reset Password
        </div>
        <form method="POST" action="" class="forms">
            {{ form.hidden_tag() }}
        
            <div class="formGroup">
                {% if form.password.errors %}
                    <div>
                        <i class="fa fa-lock" style="color: red;"></i>
                        {{ form.password(class='for_nam',style='border-color:red;') }}
                    </div>
                    <span style="font-size: small; color: red;">
                        {% for error in form.password.errors %}
                            {%if error%}
                                {{ error }} 
                            {%endif%}
                        {% endfor %}
                    </span>
                {% else %}
                    <div>
                        <i class="fa fa-lock" style="color: #1c7ed6;"></i>
                        {{ form.password(class='for_nam',placeholder='New Password') }}
                    </div>
                {% endif %}
            </div>
            <br/><br/>

            <div class="formGroup">
                {% if form.confirm_password.errors %}
                    <div>
                        <i class="fa fa-lock" style="color: red;"></i>
                        {{ form.confirm_password(class='for_nam',style='border-color:red;') }}
                    </div>
                    <span style="font-size: small; color: red;">
                        {% for error in form.confirm_password.errors %}
                            {%if error%}
                                {{ error }} 
                            {%endif%}
                        {% endfor %}
                    </span>
                {% else %}
                    <div>
                        <i class="fa fa-lock" style="color: #1c7ed6;"></i>
                        {{ form.confirm_password(class='for_nam',placeholder='Re-enter New Password') }}
                    </div>
                {% endif %}
            </div>
            <br/><br/>

            
            <div class="formGroup">
                {{ form.submit(class='btn') }}</button>
            </div>
            <br/><br/>
        </form>
    </div>
</div>
{%endblock body%}