{%extends "layout.html"%}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='styles_login.css') }}">
{%endblock head%}

{%block body%}
<div class="header"></div>

<div class="container">
    <div class="form">
        <div class="form-heading">
            Sign Up
        </div>
        <form method="POST" class="signUp">
            {{ form.hidden_tag() }}
        
            <div class="formGroup">
                {% if form.email.errors %}
                    <div>
                        <i class="fa fa-envelope" style="color: red;"></i>
                        {{ form.email(class='for_nam',style='border-color:red;') }}
                    </div>
                    <span style="font-size: small; color: red;">
                        {% for error in form.email.errors %}
                            {%if error%}
                                {{ error }} 
                            {%endif%}
                        {% endfor %}
                    </span>
                {% else %}
                    <div>
                        <i class="fa fa-envelope" style="color: #1c7ed6;"></i>
                        {{ form.email(class='for_nam',placeholder='Email-ID') }}
                    </div>
                {% endif %}
            </div>
            <br/><br/>

            <div class="formGroup">
                {% if form.name.errors %}
                    <div>
                        <i class="fa fa-user" style="color: red;"></i>
                        {{ form.name(class='for_nam',style='border-color:red;') }}
                    </div>
                    <span style="font-size: small; color: red;">
                        {% for error in form.name.errors %}
                            {%if error%}
                                {{ error }} 
                            {%endif%}
                        {% endfor %}
                    </span>
                {% else %}
                    <div>
                        <i class="fa fa-user" style="color: #1c7ed6;"></i>
                        {{ form.name(class='for_nam',placeholder='Name') }}
                    </div>
                {% endif %}
            </div>
            <br/><br/>

            <div class="formGroup">
                {% if form.reg_no.errors %}
                    <div>
                        <i class="fa fa-pencil" style="color: red;"></i>
                        {{ form.reg_no(class='for_nam',style='border-color:red;') }}
                    </div>
                    <span style="font-size: small; color: red;">
                        {% for error in form.reg_no.errors %}
                            {%if error%}
                                {{ error }} 
                            {%endif%}
                        {% endfor %}
                    </span>
                {% else %}
                    <div>
                        <i class="fa fa-pencil" style="color: #1c7ed6;"></i>
                        {{ form.reg_no(class='for_nam',placeholder='Registration Number') }}
                    </div>
                {% endif %}
            </div>
            <br/><br/>

            <div class="formGroup">
                {% if form.dept.errors %}
                    <div>
                        <i class="fa fa-building" style="color: red;"></i>
                        {{ form.dept(class='for_name dept',style='border-color:red;') }}
                    </div>
                    <span style="font-size: small; color: red;">
                        {% for error in form.dept.errors %}
                            {%if error%}
                                {{ error }} 
                            {%endif%}
                        {% endfor %}
                    </span>
                {% else %}
                    <div>
                        <i class="fa fa-building" style="color: #1c7ed6;"></i>
                        {{ form.dept(class='for_nam dept',placeholder='Department') }}
                    </div>
                {% endif %}
            </div>
            <br/><br/>
            
            <div class="formGroup">
                {% if form.mobile.errors %}
                    <div>
                        <i class="fa fa-mobile" style="color: red;"></i>
                        {{ form.mobile(class='for_nam',style='border-color:red;') }}
                    </div>
                    <span style="font-size: small; color: red;">
                        {% for error in form.mobile.errors %}
                            {%if error%}
                                {{ error }} 
                            {%endif%}
                        {% endfor %}
                    </span>
                {% else %}
                    <div>
                        <i class="fa fa-mobile" style="color: #1c7ed6;"></i>
                        {{ form.mobile(class='for_nam',placeholder='Mobile') }}
                    </div>
                {% endif %}
            </div>
            <br/><br/>
            
            <div class="formGroup">
                {% if form.password.errors %}
                    <div>
                        <i class="fa fa-lock" style="color: red;"></i>
                        {{ form.password(class='for_nam',style='border-color:red;') }}
                    </div>
                    <span style="font-size: small; color: red;">
                        {% for error in form.password.errors %}
                            {%if error%}
                                {{ error }} 
                            {%endif%}
                        {% endfor %}
                    </span>
                {% else %}
                    <div>
                        <i class="fa fa-lock" style="color: #1c7ed6;"></i>
                        {{ form.password(class='for_nam',placeholder='Password') }}
                    </div>
                {% endif %}
            </div>
            <br/><br/>
            
            <div class="formGroup">
                {% if form.confirm_password.errors %}
                    <div>
                        <i class="fa fa-check" style="color: red;"></i>
                        {{ form.confirm_password(class='for_nam',style='border-color:red;') }}
                    </div>
                    <span style="font-size: small; color: red;">
                        {% for error in form.confirm_password.errors %}
                            {%if error%}
                                {{ error }} 
                            {%endif%}
                        {% endfor %}
                    </span>
                {% else %}
                    <div>
                        <i class="fa fa-check" style="color: #1c7ed6;"></i>
                        {{ form.confirm_password(class='for_nam',placeholder='Confirm Password') }}
                    </div>
                {% endif %}
            </div>
            <br/><br/>

            <div class="formGroup">
                {{ form.submit(class='btn') }}
            </div>
            <br/>
            
        </form>
        <small class="text-muted" style="margin-left: 8%;color:white;">
            Already Have An Account? <a style="text-decoration: none;" class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
</div>
<div class="header"></div>

<script>
    $(function(){
        $('.datepicker input').datepicker({
           format: "dd.mm.yyyy",
           todayBtn: "linked",
           language: "de"
        });
    });
</script>

{%endblock body%}